.top_line{
	background-color: #333333;
	overflow-x: hidden;
}
.top_line_remove_margin{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.document_font_family{
	font-family: Montserrat;
	font-size: 14px;
	color: #767676;
}
.shoping_cart_text_color{
	font-family: Montserrat;
	font-size: 14px;
	color: white;
}
.currency_select_menu{
	background-color: #333333;
	border: none;
}
.no_padding{
	padding: 5px 0px 5px 0px;
}
.shoping{
	background-color: #00c9c6;
	color: white;
}
.shoping_select{
	border: none;
}
.padding_for_shopin_label{
	margin-bottom: 0px !important;
}
.slider_background_color{
	background-color: #f8f8f8;
}
.background_slider_image{
	height: 500px;
}
.position_setting{
	position: absolute;
	top: 50px;
	left: 0;
}
.setting_dropdown_position{
	position: relative;
}
.brand_name{
	font-family: Montserrat;
	font-size: 18px;
}
.remove_padding{
	padding: 0px;
}
.nav_link_color{
	color: black;
	font-family: Montserrat;
	/*font-weight: regular;*/
	font-size: 14px;
	padding: 5px 10px 5px 0px !important;
}
.nav_link_color:hover{
	color: #6bc7c3;
}
.bg_input_color{
	background-color: #f8f8f8;
}
.nav_padding{
	padding: 20px 0px 20px 0px;
}
/* drop down styling */
.drop_down_heading{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 15px;
	padding-left: 15px;
}
.dropdown_width{
	width: 350px;
	background-color: #f8f8f8;
}
.drop_down_lists{
	list-style-type: none;
	padding: 0px 0px 0px 15px;
}
.dropdown_list_item_link{
	color: black;
	font-family: Montserrat;
	font-size: 14px;
}
.sale_box{
	width: 275px;
	height: 150px;
	background-color: #333333;
	margin: 20px auto 20px auto;
}
.sales_text{
	padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 0px;
    font-size: 28px;
    font-weight: bold;
    color: white;
}
.main_nav_menu_items{
	padding: 5px 15px 5px 5px !important;
	font-size: 14px;
	font-family: Montserrat;
}
.brand_name_text{
	font-family: Montserrat;
	font-size: 17px;
	font-weight: bold;
	margin: 0px 0px 0px 10px;
}
.search_field{
	padding: 0px 0px 0px 0px !important;
	height: 30px;
	font-family: Montserrat;
	background-color: #f8f8f8;
}
.search_button{
	height: 30px;
	padding: 0px 0px 0px 0px;
	width: 30px;
}
/* lookbook  */
.lookbook_background_color{
	background-color: #f8f8f8;
	padding: 20px 0px;
}
.lookbook_height{
	height: 300px;
	/*width: 150px;*/
}
.lookbook_padding{
	padding: 0px 20px 0px 0px;
}
.first_lookbook_heading{
	font-family: Montserrat;
	font-weight: bold;
	margin-bottom: 0px;
}
.second_lookbook_heading{
	font-family: Montserrat;
	margin-bottom: 0px;
	font-size: 24px;
}
.lookbook_paragraph{
	font-family: Montserrat;
	font-size: 18px;
}
.view_now_button{
	background-color: #f8f8f8;
	border: 1px solid black;
	font-family: Montserrat;
	padding: 5px 10px;
}
.view_now_button:hover{
	background-color: #00c8c8;
	color: white;
}

/* contact details row  */
.contact_us_background_color{
	background-color: #f8f8f8;
	padding: 20px 0px 20px 0px;
}
.contact_us_padding{
	padding: 10px 15px;
}
.contact_us_heading{
	font-family: Montserrat;
	margin-bottom: 10px;
	font-weight: bold;
	color: #3d3d3d;
	padding-left: 20px;
}
.contact_us_list{
	list-style-type: none;
	margin-bottom: 0px;
	padding-left: 20px;
	font-family: Montserrat;
}
.contac_us_list_link{
	color: #3d3d3d;
}
.address_information_container{
	padding-left: 20px;
}
.address_information{
	font-family: Montserrat;
	margin-bottom: 5px;
	font-size: 14px;
}
.email_address{
	font-size: 13px;
	margin-bottom: 5px;
}
/* boxes above footer */
.boxes_line_padding{
	padding: 30px 0px 30px 0px;
	background-color: #f8f8f8;
}
.bottom_dark_text_block{
	background-color: #333333;
	margin-top: 20px !important;
	padding: 25px 0px;
}
.bottom_dark_text{
	font-family: Montserrat;
	font-size: 28px;
	color: white;
	margin-bottom: 0px;
}

.bottom_light_text_block{
	background-color: #00c8c8;
	margin-top: 20px !important;
	padding: 51px 0px;	
}
.icon_color{
	color: white;
	font-size: 30px;
}
/* footer setting */
.footer_background{
	background-color: #333333;
	padding: 15px 0px 15px 0px;
}
.footer_text{
	color: #818181;
	font-family: Montserrat;
	font-size: 12px;
}
/* picture items aobe and below horizontal line */
.horizontal_break{
	height: 1px;
	background-color: #efefef;
}

/* pictures items  */
.small_pic_height{
	height: 200px;
}
.big_pic_height{
	height: 350px;
	
}
.pic_background_color{
	background-color: #f8f8f8;
}
.pic_border{
	border: 20px solid white;
	/*border-right: 20px solid white;*/
}
.picture_heading_text{
	font-family: Montesrrat;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0px;
	color: #6a6a6a;
}
.picture_simple_text{
	font-family: Montesrrat;
	font-size: 13px;
	margin-bottom: 5px;
}
.picture_bottom_icons{
	margin-bottom: 5px;
}
.picture_icons_links{
	padding: 5px;
	background-color: #757575;
	border-radius: 50%;
	color: white;
}
.picture_icons_links:hover{
	background-color: #05c4cc;
	color: white;
}
.picture_below_content{
	display: none;
}
.unique_picture:hover .picture_below_content{
	display: block;
}
.item_price_tag{
	position: absolute;
	top: 5px;
	left: 10px;
	color: #969696;
	font-family: Montserrat;
}
.sub_picture{
	position: absolute;
	top: 10;
	right: 0px;
	height: 75px;
}
.sub{
	position: absolute;
	top: 95px;
	right: 0;
	height: 75px;
}
/* picture items above links  */
.list_above_picture_items{
	border: none;
	padding: 0px 30px 0px 0px;
}
.list_item_links{
	font-family: Montserrat;
	color: #6b6b6b;
	font-size: 14px;
}
.list_item_links:hover{
	text-decoration: none;
	color: #60a3ac;
}
.ave_text_position{
	position: absolute !important;
	top: 0px;
	left: -50px;

}
.logo_text{
	font-size: 300px;
	/*font-family: Montserrat;*/
	font-weight: bold;
	padding: 0px 50px;
	color: #575153;
}
@media only screen and (max-width: 1140px){
	.ave_text_position{
		left: -75px;
	}
	@media only screen and (max-width: 992px){
		.navbar_button_margin_setting{
			margin-left: 10px;
		}
		.ave_text_position{
			top: 75px;
			left: 0px;
		}
		.logo_text{
			font-size: 250px;
			padding: 0px 20px;
		}
	}
	@media only screen and (max-width: 767px){
		.ave_text_position{
			left: -50px;
			top: 150px;
		}
		.logo_text{
			font-size: 150px;
			padding: 0px 30px;
		}
		.collection_button{
			right: 50px !important;
		}
	}
	@media only screen and (max-width: 575px){
		.ave_text_position{
			left: 20px;
			top: 150px;
		}
	}
	@media only screen and (max-width: 540px){
		.ave_text_position{
			left: 50px;
			top: 200px;
		}
		.logo_text{
			font-size: 100px;
			padding: 0px 20px;
		}
	}
}

.collection_button{
	position: absolute;
	bottom: 50px;
	right: 200px;
	background-color: #f8f8f8;
	border: 1px solid black;
	padding: 15px;
	font-family: Montserrat;
}
/* search navbar div */
.input_field_div{
	width: 150px;
	height: 40px;
	background-color: red;
}
.search_button_setting{
	padding: 6px 5px;
	background-color: #f8f8f8;
	border-top: 1px solid #d0d5db;
	border-right: 1px solid #d0d5db;
	border-bottom: 1px solid #d0d5db;
	left: -27px;
	position: relative;
}
.search_input_field{
	background-color: #f8f8f8;
	border-right: 0px solid #f8f8f8;
	font-family: Montserrat;
	width: 200px;
}
.light_box_icon_setting{
	padding: 0px 10px 0px 10px;
}